# Normalize text in Git and use LF in working trees by default.
* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.pdf binary
*.zip binary
*.nupkg binary
